configuration {
 modi: "drun,combi";
 combi-modi: "drun,ssh,window";
 icon-theme: "McMojave-circle-dark";
 font: "Open Sans 20";
}

@theme "/home/esketitpunk/.local/share/rofi/themes/spotlight-dark.rasi"
